<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextBlaster___TeleCampaign_V2.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <TextBlaster___TeleCampaign_V2.Settings>
            <setting name="Server" serializeAs="String">
                <value>124.107.36.218</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>PulsarServer</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>@lara19</value>
            </setting>
            <setting name="dbase_1st" serializeAs="String">
                <value>dbvoters_1st</value>
            </setting>
            <setting name="dbase_2nd" serializeAs="String">
                <value>dbvoters_2nd</value>
            </setting>
            <setting name="dbase_3rd" serializeAs="String">
                <value>dbvoters</value>
            </setting>
            <setting name="sim1Port" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="sim2Port" serializeAs="String">
                <value>COM2</value>
            </setting>
            <setting name="sim3Port" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="sim4Port" serializeAs="String">
                <value>COM4</value>
            </setting>
            <setting name="sim5Port" serializeAs="String">
                <value>COM5</value>
            </setting>
            <setting name="sim6Port" serializeAs="String">
                <value>COM6</value>
            </setting>
            <setting name="sim7Port" serializeAs="String">
                <value>COM7</value>
            </setting>
            <setting name="sim8Port" serializeAs="String">
                <value>COM8</value>
            </setting>
            <setting name="dbase_TextBlast" serializeAs="String">
                <value>dbTextBlast</value>
            </setting>
        </TextBlaster___TeleCampaign_V2.Settings>
    </userSettings>
</configuration>
